<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=45.0">
    <title>DORIGHT AI Yoga Trainer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="text-overlay">
                <h1>DORIGHT</h1>
                <h2>AI Yoga Trainer</h2>
            </div>
        </div>
        <div class="right">
            <a href="/logout" class="logout-btn command-btn">Logout</a>
            <div class="content">
                <h1>check if you are doing it right</h1>
                <p>Your Posture is the Confidence that the People see...</p>
                <a class="start-btn" href="/get_started">get started</a>
            </div>
        </div>
    </div>
</body>
</html>
